/* Arshdeep Singh; Student ID: 8715476  */

main
{
  width: 50%; 
  float: left; 
  padding-left: 20px;
  text-align: justify;
}
main > h2
{
    margin-top: 50px;
    text-align: center;
    color: #800d29;
    font-family: sans-serif;
}

form
{ 
    padding: 5px;
    margin-bottom: 10px auto; 
    margin-bottom: 20px;
}

.contact 
{
    border: 5px solid #0781b2;
    border-radius: 10px;
    box-shadow: 0 0 15px #bbb;
    padding: 25px;
    margin-bottom: 10px auto; 
}

label
{ 
    display: inline-block; 
    width: 250px;
    padding: 5px; 
    vertical-align: top;
    font-size: 18px;
    font-family: Cambria;    
}
input[type="text"], input[type="email"], input[type="number"]
{ 
    width: 250px; 
    padding: 5px;
    width: 380px;
    height: 30px;
    font-size: 20px;
    font-family: "Calibri", cursive;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#type 
{
    font-size: 20px;
    font-family: "Calibri", cursive;
    padding: 5px;
    width: 390px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#format 
{
    font-size: 20px;
    font-family: "Calibri", cursive;
    padding: 5px;
    width: 390px;
    height: 180px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]
{  
    background-color: #800d29; 
    border-radius: 6px;
    align-content: space-between;
    color: white; 
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    margin-top: 15px; 
    padding: 5px 25px;
    text-align: center;
    height: 50px;
}
input[type="submit"]:hover 
{
    cursor: pointer;
}
input[type="reset"]
{  
    background-color: #800d29; 
    border-radius: 6px;
    align-content: space-between;
    color: white; 
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    margin-top: 15px;
    margin-left: 30px; 
    padding: 5px 25px;
    text-align: center;
    height: 50px;
}
input[type="reset"]:hover 
{
    cursor: pointer;
}

.aside__form 
{
   margin-top: 50px;
}
  
.review__question 
{
    font-size: 20px;
    font-family: Cambria;
    margin-bottom: 10px;
    display: block;
}
  
.review_question-options 
{
    display: flex;
    flex-direction: column;
}

.review__question--options div 
{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.review__question--options div label 
{
    font-size: 18px;
    cursor: pointer;
}

.aside__form--input 
{
    margin-top: 15px;
}

.aside__form--input input[type="radio"] 
{
    width: 30px;
    height: 20px;
    margin-right: 1rem;
}

.contact__section aside 
{
    flex-shrink: 0;
    width: 100%;
}

.contact__form 
{
    width: 100%;
    margin: 20px 0;
}
  