/* Arshdeep Singh; Student ID: 8715476  */

main
{
  width: 50%; 
  float: left; 
  padding-left: 20px;
  text-align: justify;
}
main > .main_outer h2
{
    margin-top: 50px;
    text-align: center;
    color: #800d29;
    font-family: sans-serif;
}

.cricketGallery 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    font-family: sans-serif;
    font-size: 18px;
}
.album
{
    display: flex;
    flex-flow: column;
    border:  2px solid #890417;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px #890417;
}
.album h3
{
    margin: 20px 0 0 0;
}
.album button 
{
    margin-top: auto; 
    background-color: #9f0015;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: bold;
}
.album > figure> img 
{
    height: 360px;
    order: -1;
    align-self: center;
}
.album > figure> figcaption
{
    text-align: center;
}

.right_side_aside
{
  width: 20%; /* set the width of the sidebar */
  float: right; /* push the sidebar to the right */
  padding-left: 20px; /* add a 20px space on the left*/
  margin-right: 20px;
}

.right_side_aside > figure > img
{
    height: 150px;
}

.right_side_aside a 
{
  font-size: 16px; /* make the text bigger than default */
  font-weight: bold; /* make the text bold */
  color: #9f0015; /* change the colour of the text links */
  text-decoration: none; /* remove the underline */
  padding: 0 30px; /* push the links away from the other links */
}