/* Arshdeep Singh; Student ID: 8715476  */

main
{
  width: 50%; 
  float: left; 
  padding-left: 20px;
  text-align: justify;
}
.description h2
{
    font-size: 26px;
    font-family: Cambria;
    color: #9f0015;
    margin-top: 50px;;
}
  
.description p
{
    font-size: 20px;
}

.right_side_aside
{
  width: 20%; 
  float: right; 
  padding-left: 20px; 
  margin-right: 20px;
}
.right_side_aside h3
{
  font-size: 22px;
  font-family: Cambria;
  color: #9f0015;
  margin-top: 50px;
}
.right_side_aside ul
{
  list-style: none;
  padding-left: 0; 
}
.right_side_aside li:nth-child(odd)
{
  background-color: #f6d6c6;
}
.right_side_aside li
{
  line-height: 30px; 
  padding: 5px; 
  font-size: 18px;
  font-weight: bold; 
}