/* Arshdeep Singh; Student ID: 8715476  */

body 
{  
  width: 70%;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 150px;  
}
header
{
  background-color: #f6d6c6;
  margin-top: 0px;
  margin-bottom: 0px;
} 

header > p > a > img 
{  
  height: 250px;
  width: 600px; 
  float: right; 
  margin: 10px 200px 10px 60px;
} 
.header #heading
{ 
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  color: #9f0015;
  margin: 0px 10px 0px 200px ;  
  padding-top: 100px;
}
.header #tagline
{
  margin-top: 10px; 
  font-family: Cambria;
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
  color: #EE834E;
  padding-bottom: 90px;
  margin: 0px 50px 50px 200px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
.left_side_aside
{
  width: 20%; 
  float: left; 
  background-color: #f6d6c6;
  margin-left: 20px;
  margin-top: 50px;
}
.left_side_aside h3
{
  font-size: 22px;
  font-family: Cambria;
  color: white;
  background-color: #9f0015;
  padding: 10px;
  border-radius: 10px;
}
.thumbnail_image > img
{
  width: 25%;
  margin: 5px;
  float: left;
}
.thumbnail_text
{
  width: 70%;
  float: right;
  font-size: 18px;
  font-family: Cambria;
  font-weight: bold;
  margin: 10px 0;
  color: #9f0015;
}
.thumbnail_text a 
{
  font-size: 20px; 
  font-weight: bold; 
  color: #9f0015; 
  text-decoration: none; 
  padding: 0 30px; 
}
.right_side_aside
{
  width: 20%; 
  float: right;
  padding-left: 20px; 
  margin-right: 20px;
}
.right_side_aside h3
{
  font-size: 22px;
  font-family: Cambria;
  color: #9f0015;
  margin-top: 50px;
}
.right_side_aside ul
{
  list-style: none; 
  padding-left: 0; 
}
.right_side_aside li:nth-child(odd)
{
  background-color: #f6d6c6; 
}
.right_side_aside li
{
  line-height: 30px; 
    padding: 5px; 
  font-size: 18px;
  font-weight: bold; 
}
footer
{
  clear: both;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  margin-top: 20px;
  padding: 20px 0;
}
nav
{
  background-color: red; 
  padding: 20px 0;
  text-align: center; 
}
nav a
{
  font-size: 20px; 
  font-weight: bold; 
  color: white; 
  text-decoration: none; 
  padding: 0px 30px; 
}
nav ul li:hover a:hover
{ 
  color: black;
  background-color: white;
  padding: 0 10px;
}
nav ul
{
  list-style-type: none; 
  padding: 0;
  margin: 0;
}
nav>ul>li
{  
  display: inline-block; 
  position: relative;
}
nav ul li ul 
{ 
  width: 200px;
  position: absolute; 
  z-index: 999; 
  text-align: left;
  background-color: white;
  box-shadow: 0 0 5px #800d29;
}

nav ul li ul li a
{
  color:#9f0015;
  padding: 10px;
  display: block; 
}

nav ul li ul li:hover a:hover
{ 
  color: black;
  background-color: white;
}

nav ul li ul 
{ 
  display: none; /* hide the sub menu by default */
}

nav ul li:hover ul
{
  display: block; 
  background-color: white;
}
.left-header{
  margin-top: 0px;
}