/* Arshdeep Singh; Student ID: 8715476  */

main
{
  margin-top: 20px;
  width: 52%; /* set the width of the main section */
  float: left; /* push the main section to the left */
  padding-left: 20px;
  text-align: justify;
}

#table1
{
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 20px;
}

main > h2
{
    margin-top: 50px;
    text-align: center;
    color: #800d29;
    font-family: sans-serif;
}


#table1 th
{
    text-align: center;
    width:200px;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: 18px;
    font-family: Cambria;
    border: 1px solid #000; 
    border-collapse: collapse;
    line-height: 30px;
}

#table1 td
{
    text-align: center;
    width:250px;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: 16px;
    font-family: Cambria;
    border: 1px solid #000;   
    line-height: 30px;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}

.right_side_aside
{
  width: 20%; /* set the width of the sidebar */
  float: right; /* push the sidebar to the right */
  padding-left: 20px; /* add a 20px space on the left*/
  margin-right: 20px;
  font-size: 18px;
  font-family: Cambria;
}
.right_side_aside h3
{
  font-size: 22px;
  font-family: Cambria;
  color: #9f0015;
  margin-top: 50px;
}
.right_side_aside ul
{
  list-style: none; /* removes the dots */
  padding-left: 0; /* removes the gap on the left */
}
.right_side_aside li:nth-child(odd)
{
  background-color: #f6d6c6; /* add a background colour */
}
.right_side_aside li
{
  line-height: 30px; /* So that we have more space above and below the list items. You can also use padding instead! */
  padding: 5px; /* to push the text a little bit away from the left */
  font-size: 18px;
  font-weight: bold; /* make text bold */
}