/* Arshdeep Singh; Student ID: 8715476  */

main
{
  margin-top: 20px;
  width: 52%; /* set the width of the main section */
  float: left; /* push the main section to the left */
  padding-left: 20px;
  text-align: justify;
}

video
{
    margin-top: 40px;
    width: 660px;
    max-width: 100%;
    border: 2px solid #9f0015;
    padding: 20px;
}

figcaption
{
    font-size: 22px;
    font-family: Cambria;
    text-align: center;
}


.right_side_aside
{
  width: 20%; /* set the width of the sidebar */
  float: right; /* push the sidebar to the right */
  padding-left: 20px; /* add a 20px space on the left*/
  margin-right: 20px;
}

.right_side_aside > figure > img
{
    height: 150px;
}

.right_side_aside a 
{
  font-size: 16px; /* make the text bigger than default */
  font-weight: bold; /* make the text bold */
  color: #9f0015; /* change the colour of the text links */
  text-decoration: none; /* remove the underline */
  padding: 0 30px; /* push the links away from the other links */
}